body {
    background-color: black;
}

.divider {
    background-color: #eee;
}




#intro {
               background-image: url('/img/intro.jpg');
               height: 400px;
}

@media (min-width: 576px) {
    #intro {
    height: 600px;
    }
}